.blocked-website-row {
    font-size: large;
    white-space: nowrap;
    width: 100%;
}

.blocked-website-text {
    user-select: none;
}

.blocked-website-close-button {
    margin-right: 5px;
    float: right;
    user-select: none;
}

.blocked-website-close-button:hover {
    font-weight: bold;
}
